<%- include('./partials/header.ejs') %>


  <section>
    <form method="post">
      <table class="table table-bordered w-50 mx-auto table-info mt-4 ">
        <tbody>
          <tr>
            <td>User Email</td>
            <td><input type='email' name="mailId" /> </td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type='password' name="pwd" /> </td>
          </tr>
          <tr>
            <td><input type='submit' name="loginBtn" value="Login" /> </td>
          </tr>
        </tbody>
      </table>
    </form>

    <% if(msg) { %>
      <p class="alert alert-success w-50 mx-auto">
        <%= msg %>
      </p>
      <% } %>




  </section>

  <%- include('./partials/footer.ejs') %>